h1,p,h2,body{
    margin: 0rem;
    padding: 0rem;
}
header{
    color: rgb(43, 14, 3);
    background-color: orangered;
}
head{
     color: rgb(43, 14, 3);
    background-color: orangered;
    text-align: center;
    margin: 0rem;
    padding: 0rem;

}

h1{
    text-align: center;
    background-color: orangered;
    
}
h2{
    text-align: center;
    background-color: orangered;
}
body{
    color: antiquewhite;
    background-color: rgb(238, 242, 22);
}
footer{
    background-color:rgb(248, 8, 8);
    color:rgb(36, 25, 11);
}
p{
    color: black;
}
